<% include ../header %>
<!-- main  -->
<div class=row>
    <div class="col col-xs-12">       
      <div class="form-group">
        <label for="_id">ID</label>
        <input type="text" class="form-control" id="_id" name="_id" value="<%= instructors._id %>" required>
      </div>
      <div class="form-group">
        <label for="coursename">CourseName</label>
        <input type="text" class="form-control" id="coursename" name="coursename" value="<%= instructors.coursename %>" required>
      </div>
      <div class="form-group">
        <label for="startdate">StartDate</label>
        <input type="text" class="form-control" id="startdate" name="startdate" value="<%= instructors.startdate %>" required>
      </div>
      <div class="form-group">
        <label for="enddate">EndDate</label>
        <input type="text" class="form-control" id="enddate" name="unitPrice" value="<%= instructors.unitPrice %>" required>     
    </div>
    <div class="form-group">
      <label for="intiallink">IntialLink</label>
      <input type="text" class="form-control" id="intiallink" name="intiallink" value="<%= instructors.intiallink %>" required>
    </div>
    <div class="form-group">
      <label for="finallink">FinalLink</label>
      <input type="text" class="form-control" id="finallink" name="finallink" value="<%= instructors.finallink %>" required>
    </div>
    <div class="form-group">
      <label for="studentlist">Assign StudentList</label>
      <input type="text" class="form-control" id="studentlist" name="studentlist" value="<%= instructors.studentlist %>" required>
    </div>
    <div class="form-group">
      <label for="codewordsetname">CodewordSetName</label>
      <input type="text" class="form-control" id="codewordsetname" name="codewordsetname" value="<%= instructors.codewordsetname %>" required>
    </div>
  </div>
  <!-- <% include ../footer %> -->
  
 